@model IList<ProductOverviewModel>


@if (Model.Count > 0)
{
    <section class="section-b-space tab-layout1 ratio_square">
        <div class="theme-tab">
            <div class="drop-shadow">
                <div class="left-shadow">
                    <img src="~/themes/guptodhon/assets/images/left.png" alt="" class=" img-fluid">
                </div>
                <div class="right-shadow">
                    <img src="~/themes/guptodhon/assets/images/right.png" alt="" class=" img-fluid">
                </div>
            </div>
            <ul class="tabs">
                <li class="current">
                    <a href="tab-1">Just For You</a>
                </li>
                <li class="">
                    <a href="tab-2">on sale</a>
                </li>
                <li class="">
                    <a href="tab-3">30% off</a>
                </li>
                <li class="">
                    <a href="tab-4">most popular</a>  @*@T("Bestsellers")*@
                </li>
            </ul>

            @*<strong>@T("Homepage.Products")</strong>*@

        <div class="tab-content-cls">
            <div id="tab-1" class="tab-content active default">
                <div class="container">
                    <div class="row border-row1">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-2 col-sm-4 col-6 p-0">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-content">
                <div class="container">
                    <div class="row border-row1">
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/20.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/20.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/8.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/8.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/11.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/11.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/19.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/19.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/22.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/22.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/10.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/10.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/1.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/1.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/15.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/15.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="lable-wrapper">
                                        <span class="lable1">new</span>
                                        <span class="lable2">sale</span>
                                    </div>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/2.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/2.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/6.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/6.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/3.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/3.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/27.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/27.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="lable-wrapper">
                                        <span class="lable1">new</span>
                                        <span class="lable2">sale</span>
                                    </div>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-content">
                <div class="container">
                    <div class="row border-row1">
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/6.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/6.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/3.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/3.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/8.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/8.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/11.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/11.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/19.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/19.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/22.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/22.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/1.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/1.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/20.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/20.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/10.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/10.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/15.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/15.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="lable-wrapper">
                                        <span class="lable1">new</span>
                                        <span class="lable2">sale</span>
                                    </div>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/2.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/2.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4 col-6 p-0">
                            <div class="product-box">
                                <div class="img-block">
                                    <a href="product-page.html" class="bg-size" style="background-image: url(&quot;../assets/images/product/27.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;"><img src="../assets/images/product/27.jpg" class=" img-fluid bg-img" alt="" style="display: none;"></a>
                                    <div class="lable-wrapper">
                                        <span class="lable1">new</span>
                                        <span class="lable2">sale</span>
                                    </div>
                                    <div class="cart-details">
                                        <button title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></button>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="add-btn">
                                        <a href="javascript:void(0)" class="btn btn-outline addcart-box" tabindex="0">quick shop</a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <a href="#"><h6>richard mcClintock</h6></a>
                                    <h5>$963.00</h5>
                                </div>
                                <div class="addtocart_box">
                                    <div class="addtocart_detail">
                                        <div>
                                            <div class="color">
                                                <h5>color</h5>
                                                <ul class="color-variant">
                                                    <li class="light-purple active"></li>
                                                    <li class="theme-blue"></li>
                                                    <li class="theme-color"></li>
                                                </ul>
                                            </div>
                                            <div class="size">
                                                <h5>size</h5>
                                                <ul class="size-box">
                                                    <li class="active">xs</li>
                                                    <li>s</li>
                                                    <li>m</li>
                                                    <li>l</li>
                                                    <li>xl</li>
                                                </ul>
                                            </div>
                                            <div class="addtocart_btn">
                                                <a href="javascript:void(0)" data-toggle="modal" class="closeCartbox" data-target="#addtocart" tabindex="0">add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-cart">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            @await Component.InvokeAsync("HomepageBestSellers")

            </div>
        </div>

</section>
}